.contrain_input{
    width: 11rem;
}
.strech_input{
    width: 30rem;
}
#constrain-left{
    overflow-y: scroll;
    height: 80vh;
}
#constrain-right{
    overflow-y: scroll;
    height: 50vh;
}
::-webkit-scrollbar {
    display: none;
}
#downsize{
    font-size: 2vw;
}
textarea{
    resize: none
}
@media screen and (max-width: 1281px) {
    body {
        font-size: 2.5em;
    }
    #downsize{
        font-size: 2.5em;
    }h5{
        font-size: 1.5em;
    }
}